student_email: {{student_email}}
postgres_cluster:
  hosts:
  - address: {{postgres_address}}
    port: 6432
  user: {{postgres_user}}
  password: {{postgres_password}}
  db_name: {{postgres_database}}
  ssl_mode: verify-full
  use_closest_node: false